In [1]:
# Import Libraries
import camelot
import os
import numpy as np
import pandas as pd

In [2]:
# Fill data as per requirement
company = 'Bajaj_Allianz'
financial_yr = '2020_21'
quarter = 'Q4'

In [3]:
LOB = ['Fire', 'Marine Cargo', 'Marine Others', 'Marine Total', 'Motor OD', 'Motor TP', 'Motor Total', 'Liability', 'Engineering', 'PA', 'Health Insurance', 'Crop Insurance', 'Others']
year = np.full(shape=len(LOB),fill_value=financial_yr)
qtr = np.full(shape=len(LOB),fill_value=quarter)
cmpny = np.full(shape=len(LOB),fill_value=company.replace('_',' '))

In [4]:
dir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF"
file = os.path.join(dir_path,company,financial_yr,quarter,'NL-5.pdf')
print(file)

C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF\Bajaj_Allianz\2020_21\Q4\NL-5.pdf

In [5]:
odir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV"
ofile = os.path.join(odir_path,company,financial_yr,quarter,'NL-5.csv')
print(ofile)

C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV\Bajaj_Allianz\2020_21\Q4\NL-5.csv

In [6]:
def chk_blank(value):
    if value =='-' and len(value)==1:
        return None
    elif len(value)==0:
        return None
    elif '(' in value:
        return int(value.replace('-','').replace('(','').replace(')','').replace(' ','')) *-1
    else:
        return int(value.replace('-','').replace(' ',''))
    
def ifnone(value):
    if value == None:
        return 0
    else:
        return value

In [7]:
tables = camelot.read_pdf(file)#,pages="all")
print("Total tables extracted:", tables.n)

Total tables extracted: 2

In [8]:
tables[0].df.head(13)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Particulars,Fire,Marine,,,Miscellaneous,,,,,,,,,,,,,Total
1,,,Marine Cargo,Marine Others,Marine Total,Motor OD,Motor TP,Motor Total,Worksmens' \nCompensation,Public/Product \nLiability,Engineering,Aviation,Personal Accident,Health Insurance,Credit Insurance,Crop Insurance,Others,Total \nMiscellaneous,
2,,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021
3,,(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000)
4,Claims paid,,,,,,,,,,,,,,,,,,
5,Direct claims,"1,023,819","304,007","2,500","306,507","3,741,781","1,564,875","5,306,656","67,303","52,231","283,534","34,710","330,250","4,820,924","6,142","2,884,557","765,433","14,551,740","15,882,066"
6,Add Claims Outstanding at the end of \nthe year,"378,729","(156,328)","(5,926)","(162,254)","(569,291)","3,458,361","2,889,070","(3,713)","(95,156)","(380,988)","34,351","52,471","(997,933)","(4,516)","(2,989,008)","18,124","(1,477,298)","(1,260,823)"
7,Less Claims Outstanding at the \nbeginning of ...,"1,258,513","(18,431)","(27,094)","(45,525)","(5,837)","(120,761)","(126,598)",614,"(79,757)","(65,060)","44,689","(119,658)","(716,354)","18,583","(4,885,981)","360,861","(5,568,661)","(4,355,673)"
8,Gross Incurred Claims,"1,831,914","(28,873)","87,053","58,180","3,192,152","5,806,850","8,999,002","65,292","(172,993)","103,511","(44,431)","392,183","3,998,313","(31,563)","882,108","2,568,640","16,760,062","18,650,156"
9,Add :Re-insurance accepted to direct \nclaims,"19,700",-,-,-,-,-,-,-,-,"1,194",-,-,-,-,-,-,"1,194","20,894"
10,Less :Re-insurance Ceded to claims paid,"716,759","104,673","2,487","107,160","200,165","336,266","536,431","3,367","51,276","121,940","11,665","22,988","751,774","6,081","2,271,664","665,604","4,442,790","5,266,709"
11,,,,,,,,,,,,,,,,,,,
12,Less :Re-insurance Ceded to Closing \nClaims O...,"595,362","(124,664)","(5,500)","(130,164)","(42,439)","(128,576)","(171,015)",(289),"(91,245)","(218,569)","11,931","165,131","88,426","(4,470)","(2,391,918)","(12,862)","(2,624,880)","(2,159,682)"

In [9]:
##### Read Data from NL5 form

#Direct commission
Direct_claims = []

direct_claims_business_Fire = chk_blank(tables[0].df[1][5].replace(',',''))
direct_claims_business_Marine_cargo = chk_blank(tables[0].df[2][5].replace(',',''))
direct_claims_business_Marine_others = chk_blank(tables[0].df[3][5].replace(',',''))
direct_claims_business_Marine_total = chk_blank(tables[0].df[4][5].replace(',',''))
direct_claims_business_Motor_OD = chk_blank(tables[0].df[5][5].replace(',',''))
direct_claims_business_Motor_TP = chk_blank(tables[0].df[6][5].replace(',',''))
direct_claims_business_Motor_Total = chk_blank(tables[0].df[7][5].replace(',',''))
direct_claims_business_worksmens = chk_blank(tables[0].df[8][5].replace(',',''))
direct_claims_business_Liability = chk_blank(tables[0].df[9][5].replace(',',''))
direct_claims_business_Engineering = chk_blank(tables[0].df[10][5].replace(',',''))
direct_claims_business_aviation = chk_blank(tables[0].df[11][5].replace(',',''))
direct_claims_business_PA = chk_blank(tables[0].df[12][5].replace(',',''))
direct_claims_business_Health_Insurance = chk_blank(tables[0].df[13][5].replace(',',''))
direct_claims_business_Credit_Insurance = chk_blank(tables[0].df[14][5].replace(',',''))
direct_claims_business_Crop_Insurance = chk_blank(tables[0].df[15][5].replace(',',''))
direct_claims_business_Others = chk_blank(tables[0].df[16][5].replace(',',''))


### Add others all LoB
direct_claims_business_Others = ifnone(direct_claims_business_Others) + ifnone(direct_claims_business_worksmens) \
                               + ifnone(direct_claims_business_aviation) + ifnone(direct_claims_business_Credit_Insurance)

Direct_claims.append(direct_claims_business_Fire)
Direct_claims.append(direct_claims_business_Marine_cargo)
Direct_claims.append(direct_claims_business_Marine_others)
Direct_claims.append(direct_claims_business_Marine_total)
Direct_claims.append(direct_claims_business_Motor_OD)
Direct_claims.append(direct_claims_business_Motor_TP)
Direct_claims.append(direct_claims_business_Motor_Total)
Direct_claims.append(direct_claims_business_Liability)
Direct_claims.append(direct_claims_business_Engineering)
Direct_claims.append(direct_claims_business_PA)
Direct_claims.append(direct_claims_business_Health_Insurance)
Direct_claims.append(direct_claims_business_Crop_Insurance)
Direct_claims.append(direct_claims_business_Others)

In [10]:
Direct_claims

[1023819,
 304007,
 2500,
 306507,
 3741781,
 1564875,
 5306656,
 52231,
 283534,
 330250,
 4820924,
 2884557,
 873588]

In [11]:
##### Read Data from NL5 form

#All claims outstanding at the end of year
Add_claims = []

Add_claims_business_Fire = chk_blank(tables[0].df[1][6].replace(',',''))
Add_claims_business_Marine_cargo = chk_blank(tables[0].df[2][6].replace(',',''))
Add_claims_business_Marine_others = chk_blank(tables[0].df[3][6].replace(',',''))
Add_claims_business_Marine_total = chk_blank(tables[0].df[4][6].replace(',',''))
Add_claims_business_Motor_OD = chk_blank(tables[0].df[5][6].replace(',',''))
Add_claims_business_Motor_TP = chk_blank(tables[0].df[6][6].replace(',',''))
Add_claims_business_Motor_Total = chk_blank(tables[0].df[7][6].replace(',',''))
Add_claims_business_worksmens = chk_blank(tables[0].df[8][6].replace(',',''))
Add_claims_business_Liability = chk_blank(tables[0].df[9][6].replace(',',''))
Add_claims_business_Engineering = chk_blank(tables[0].df[10][6].replace(',',''))
Add_claims_business_aviation = chk_blank(tables[0].df[11][6].replace(',',''))
Add_claims_business_PA = chk_blank(tables[0].df[12][6].replace(',',''))
Add_claims_business_Health_Insurance = chk_blank(tables[0].df[13][6].replace(',',''))
Add_claims_business_Credit_Insurance = chk_blank(tables[0].df[14][6].replace(',',''))
Add_claims_business_Crop_Insurance = chk_blank(tables[0].df[15][6].replace(',',''))
Add_claims_business_Others = chk_blank(tables[0].df[16][6].replace(',',''))


### Add others all LoB
Add_claims_business_Others = ifnone(Add_claims_business_Others) + ifnone(Add_claims_business_worksmens) \
                               + ifnone(Add_claims_business_aviation) + ifnone(Add_claims_business_Credit_Insurance)

Add_claims.append(Add_claims_business_Fire)
Add_claims.append(Add_claims_business_Marine_cargo)
Add_claims.append(Add_claims_business_Marine_others)
Add_claims.append(Add_claims_business_Marine_total)
Add_claims.append(Add_claims_business_Motor_OD)
Add_claims.append(Add_claims_business_Motor_TP)
Add_claims.append(Add_claims_business_Motor_Total)
Add_claims.append(Add_claims_business_Liability)
Add_claims.append(Add_claims_business_Engineering)
Add_claims.append(Add_claims_business_PA)
Add_claims.append(Add_claims_business_Health_Insurance)
Add_claims.append(Add_claims_business_Crop_Insurance)
Add_claims.append(Add_claims_business_Others)

In [12]:
Add_claims

[378729,
 -156328,
 -5926,
 -162254,
 -569291,
 3458361,
 2889070,
 -95156,
 -380988,
 52471,
 -997933,
 -2989008,
 44246]

In [13]:
##### Read Data from NL5 form

#less claims outstanding at the begining of year
Less_claims = []

Less_claims_business_Fire = chk_blank(tables[0].df[1][7].replace(',',''))
Less_claims_business_Marine_cargo = chk_blank(tables[0].df[2][7].replace(',',''))
Less_claims_business_Marine_others = chk_blank(tables[0].df[3][7].replace(',',''))
Less_claims_business_Marine_total = chk_blank(tables[0].df[4][7].replace(',',''))
Less_claims_business_Motor_OD = chk_blank(tables[0].df[5][7].replace(',',''))
Less_claims_business_Motor_TP = chk_blank(tables[0].df[6][7].replace(',',''))
Less_claims_business_Motor_Total = chk_blank(tables[0].df[7][7].replace(',',''))
Less_claims_business_worksmens = chk_blank(tables[0].df[8][7].replace(',',''))
Less_claims_business_Liability = chk_blank(tables[0].df[9][7].replace(',',''))
Less_claims_business_Engineering = chk_blank(tables[0].df[10][7].replace(',',''))
Less_claims_business_aviation = chk_blank(tables[0].df[11][7].replace(',',''))
Less_claims_business_PA = chk_blank(tables[0].df[12][7].replace(',',''))
Less_claims_business_Health_Insurance = chk_blank(tables[0].df[13][7].replace(',',''))
Less_claims_business_Credit_Insurance = chk_blank(tables[0].df[14][7].replace(',',''))
Less_claims_business_Crop_Insurance = chk_blank(tables[0].df[15][7].replace(',',''))
Less_claims_business_Others = chk_blank(tables[0].df[16][7].replace(',',''))


### Add others all LoB
Less_claims_business_Others = ifnone(Less_claims_business_Others) + ifnone(Less_claims_business_worksmens) \
                               + ifnone(Less_claims_business_aviation) + ifnone(Less_claims_business_Credit_Insurance)

Less_claims.append(Less_claims_business_Fire)
Less_claims.append(Less_claims_business_Marine_cargo)
Less_claims.append(Less_claims_business_Marine_others)
Less_claims.append(Less_claims_business_Marine_total)
Less_claims.append(Less_claims_business_Motor_OD)
Less_claims.append(Less_claims_business_Motor_TP)
Less_claims.append(Less_claims_business_Motor_Total)
Less_claims.append(Less_claims_business_Liability)
Less_claims.append(Less_claims_business_Engineering)
Less_claims.append(Less_claims_business_PA)
Less_claims.append(Less_claims_business_Health_Insurance)
Less_claims.append(Less_claims_business_Crop_Insurance)
Less_claims.append(Less_claims_business_Others)

In [14]:
Less_claims

[1258513,
 -18431,
 -27094,
 -45525,
 -5837,
 -120761,
 -126598,
 -79757,
 -65060,
 -119658,
 -716354,
 -4885981,
 424747]

In [15]:
##### Read Data from NL5 form

#Gross Incurred claims outstanding at the begining of year
Gross_incurred_claims = []

Gross_incurred_claims_business_Fire = chk_blank(tables[0].df[1][8].replace(',',''))
Gross_incurred_claims_business_Marine_cargo = chk_blank(tables[0].df[2][8].replace(',',''))
Gross_incurred_claims_business_Marine_others = chk_blank(tables[0].df[3][8].replace(',',''))
Gross_incurred_claims_business_Marine_total = chk_blank(tables[0].df[4][8].replace(',',''))
Gross_incurred_claims_business_Motor_OD = chk_blank(tables[0].df[5][8].replace(',',''))
Gross_incurred_claims_business_Motor_TP = chk_blank(tables[0].df[6][8].replace(',',''))
Gross_incurred_claims_business_Motor_Total = chk_blank(tables[0].df[7][8].replace(',',''))
Gross_incurred_claims_business_worksmens = chk_blank(tables[0].df[8][8].replace(',',''))
Gross_incurred_claims_business_Liability = chk_blank(tables[0].df[9][8].replace(',',''))
Gross_incurred_claims_business_Engineering = chk_blank(tables[0].df[10][8].replace(',',''))
Gross_incurred_claims_business_aviation = chk_blank(tables[0].df[11][8].replace(',',''))
Gross_incurred_claims_business_PA = chk_blank(tables[0].df[12][8].replace(',',''))
Gross_incurred_claims_business_Health_Insurance = chk_blank(tables[0].df[13][8].replace(',',''))
Gross_incurred_claims_business_Credit_Insurance = chk_blank(tables[0].df[14][8].replace(',',''))
Gross_incurred_claims_business_Crop_Insurance = chk_blank(tables[0].df[15][8].replace(',',''))
Gross_incurred_claims_business_Others = chk_blank(tables[0].df[16][8].replace(',',''))


### Add others all LoB
Gross_incurred_claims_business_Others = ifnone(Gross_incurred_claims_business_Others) + ifnone(Gross_incurred_claims_business_worksmens) \
                               + ifnone(Gross_incurred_claims_business_aviation) + ifnone(Gross_incurred_claims_business_Credit_Insurance)

Gross_incurred_claims.append(Gross_incurred_claims_business_Fire)
Gross_incurred_claims.append(Gross_incurred_claims_business_Marine_cargo)
Gross_incurred_claims.append(Gross_incurred_claims_business_Marine_others)
Gross_incurred_claims.append(Gross_incurred_claims_business_Marine_total)
Gross_incurred_claims.append(Gross_incurred_claims_business_Motor_OD)
Gross_incurred_claims.append(Gross_incurred_claims_business_Motor_TP)
Gross_incurred_claims.append(Gross_incurred_claims_business_Motor_Total)
Gross_incurred_claims.append(Gross_incurred_claims_business_Liability)
Gross_incurred_claims.append(Gross_incurred_claims_business_Engineering)
Gross_incurred_claims.append(Gross_incurred_claims_business_PA)
Gross_incurred_claims.append(Gross_incurred_claims_business_Health_Insurance)
Gross_incurred_claims.append(Gross_incurred_claims_business_Crop_Insurance)
Gross_incurred_claims.append(Gross_incurred_claims_business_Others)

In [16]:
Gross_incurred_claims

[1831914,
 -28873,
 87053,
 58180,
 3192152,
 5806850,
 8999002,
 -172993,
 103511,
 392183,
 3998313,
 882108,
 2557938]

In [17]:
##### Read Data from NL5 form

#Add_Re_Insurance _accepted to direct claims
Add_re_insurance_accepted_to_direct_claims = []

Add_re_insurance_accepted_to_direct_claims_business_Fire = chk_blank(tables[0].df[1][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Marine_cargo = chk_blank(tables[0].df[2][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Marine_others = chk_blank(tables[0].df[3][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Marine_total = chk_blank(tables[0].df[4][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Motor_OD = chk_blank(tables[0].df[5][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Motor_TP = chk_blank(tables[0].df[6][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Motor_Total = chk_blank(tables[0].df[7][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_worksmens = chk_blank(tables[0].df[8][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Liability = chk_blank(tables[0].df[9][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Engineering = chk_blank(tables[0].df[10][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_aviation = chk_blank(tables[0].df[11][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_PA = chk_blank(tables[0].df[12][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Health_Insurance = chk_blank(tables[0].df[13][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Credit_Insurance = chk_blank(tables[0].df[14][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Crop_Insurance = chk_blank(tables[0].df[15][9].replace(',',''))
Add_re_insurance_accepted_to_direct_claims_business_Others = chk_blank(tables[0].df[16][9].replace(',',''))


### Add others all LoB
Add_re_insurance_accepted_to_direct_claims_business_Others = ifnone(Add_re_insurance_accepted_to_direct_claims_business_Others) + ifnone(Add_re_insurance_accepted_to_direct_claims_business_worksmens) \
                               + ifnone(Add_re_insurance_accepted_to_direct_claims_business_aviation) + ifnone(Add_re_insurance_accepted_to_direct_claims_business_Credit_Insurance)

Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Fire)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Marine_cargo)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Marine_others)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Marine_total)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Motor_OD)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Motor_TP)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Motor_Total)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Liability)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Engineering)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_PA)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Health_Insurance)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Crop_Insurance)
Add_re_insurance_accepted_to_direct_claims.append(Add_re_insurance_accepted_to_direct_claims_business_Others)

In [18]:
Add_re_insurance_accepted_to_direct_claims

[19700, None, None, None, None, None, None, None, 1194, None, None, None, 0]

In [19]:
##### Read Data from NL5 form

#Less_re_insurance_ceded_to_claims_paid
Less_re_insurance_ceded_to_claims_paid = []

Less_re_insurance_ceded_to_claims_paid_business_Fire = chk_blank(tables[0].df[1][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Marine_cargo = chk_blank(tables[0].df[2][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Marine_others = chk_blank(tables[0].df[3][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Marine_total = chk_blank(tables[0].df[4][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Motor_OD = chk_blank(tables[0].df[5][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Motor_TP = chk_blank(tables[0].df[6][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Motor_Total = chk_blank(tables[0].df[7][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_worksmens = chk_blank(tables[0].df[8][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Liability = chk_blank(tables[0].df[9][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Engineering = chk_blank(tables[0].df[10][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_aviation = chk_blank(tables[0].df[11][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_PA = chk_blank(tables[0].df[12][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Health_Insurance = chk_blank(tables[0].df[13][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Credit_Insurance = chk_blank(tables[0].df[14][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Crop_Insurance = chk_blank(tables[0].df[15][10].replace(',',''))
Less_re_insurance_ceded_to_claims_paid_business_Others = chk_blank(tables[0].df[16][10].replace(',',''))


### Add others all LoB
Less_re_insurance_ceded_to_claims_paid_business_Others = ifnone(Less_re_insurance_ceded_to_claims_paid_business_Others) + ifnone(Less_re_insurance_ceded_to_claims_paid_business_worksmens) \
                               + ifnone(Less_re_insurance_ceded_to_claims_paid_business_aviation) + ifnone(Less_re_insurance_ceded_to_claims_paid_business_Credit_Insurance)

Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Fire)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Marine_cargo)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Marine_others)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Marine_total)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Motor_OD)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Motor_TP)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Motor_Total)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Liability)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Engineering)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_PA)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Health_Insurance)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Crop_Insurance)
Less_re_insurance_ceded_to_claims_paid.append(Less_re_insurance_ceded_to_claims_paid_business_Others)

In [20]:
Less_re_insurance_ceded_to_claims_paid

[716759,
 104673,
 2487,
 107160,
 200165,
 336266,
 536431,
 51276,
 121940,
 22988,
 751774,
 2271664,
 686717]

In [21]:
##### Read Data from NL5 form

#Less_re_insurance_ceded_to_closing_claims_outstanding
Less_re_insurance_ceded_to_closing_claims_outstanding = []

Less_re_insurance_ceded_to_closing_claims_outstanding_business_Fire = chk_blank(tables[0].df[1][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Marine_cargo = chk_blank(tables[0].df[2][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Marine_others = chk_blank(tables[0].df[3][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Marine_total = chk_blank(tables[0].df[4][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Motor_OD = chk_blank(tables[0].df[5][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Motor_TP = chk_blank(tables[0].df[6][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Motor_Total = chk_blank(tables[0].df[7][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_worksmens = chk_blank(tables[0].df[8][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Liability = chk_blank(tables[0].df[9][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Engineering = chk_blank(tables[0].df[10][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_aviation = chk_blank(tables[0].df[11][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_PA = chk_blank(tables[0].df[12][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Health_Insurance = chk_blank(tables[0].df[13][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Credit_Insurance = chk_blank(tables[0].df[14][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Crop_Insurance = chk_blank(tables[0].df[15][12].replace(',',''))
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Others = chk_blank(tables[0].df[16][12].replace(',',''))


### Add others all LoB
Less_re_insurance_ceded_to_closing_claims_outstanding_business_Others = ifnone(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Others) + ifnone(Less_re_insurance_ceded_to_closing_claims_outstanding_business_worksmens) \
                               + ifnone(Less_re_insurance_ceded_to_closing_claims_outstanding_business_aviation) + ifnone(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Credit_Insurance)

Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Fire)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Marine_cargo)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Marine_others)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Marine_total)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Motor_OD)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Motor_TP)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Motor_Total)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Liability)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Engineering)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_PA)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Health_Insurance)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Crop_Insurance)
Less_re_insurance_ceded_to_closing_claims_outstanding.append(Less_re_insurance_ceded_to_closing_claims_outstanding_business_Others)

In [22]:
Less_re_insurance_ceded_to_closing_claims_outstanding

[595362,
 -124664,
 -5500,
 -130164,
 -42439,
 -128576,
 -171015,
 -91245,
 -218569,
 165131,
 88426,
 -2391918,
 -5690]

In [23]:
##### Read Data from NL5 form

#Add_re_insurance_ceded_to_opening_claims_outstanding
Add_re_insurance_ceded_to_opening_claims_outstanding = []

Add_re_insurance_ceded_to_opening_claims_outstanding_business_Fire = chk_blank(tables[0].df[1][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Marine_cargo = chk_blank(tables[0].df[2][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Marine_others = chk_blank(tables[0].df[3][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Marine_total = chk_blank(tables[0].df[4][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Motor_OD = chk_blank(tables[0].df[5][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Motor_TP = chk_blank(tables[0].df[6][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Motor_Total = chk_blank(tables[0].df[7][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_worksmens = chk_blank(tables[0].df[8][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Liability = chk_blank(tables[0].df[9][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Engineering = chk_blank(tables[0].df[10][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_aviation = chk_blank(tables[0].df[11][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_PA = chk_blank(tables[0].df[12][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Health_Insurance = chk_blank(tables[0].df[13][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Credit_Insurance = chk_blank(tables[0].df[14][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Crop_Insurance = chk_blank(tables[0].df[15][13].replace(',',''))
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Others = chk_blank(tables[0].df[16][13].replace(',',''))


### Add others all LoB
Add_re_insurance_ceded_to_opening_claims_outstanding_business_Others = ifnone(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Others) + ifnone(Add_re_insurance_ceded_to_opening_claims_outstanding_business_worksmens) \
                               + ifnone(Add_re_insurance_ceded_to_opening_claims_outstanding_business_aviation) + ifnone(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Credit_Insurance)

Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Fire)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Marine_cargo)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Marine_others)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Marine_total)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Motor_OD)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Motor_TP)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Motor_Total)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Liability)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Engineering)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_PA)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Health_Insurance)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Crop_Insurance)
Add_re_insurance_ceded_to_opening_claims_outstanding.append(Add_re_insurance_ceded_to_opening_claims_outstanding_business_Others)

In [24]:
Add_re_insurance_ceded_to_opening_claims_outstanding

[1258513,
 -18431,
 -27094,
 -45525,
 -5837,
 -120761,
 -126598,
 -79757,
 -65060,
 -119658,
 -716354,
 -4885981,
 424747]

In [25]:
##### Read Data from NL5 form

#Total_claims_incurred
Total_claims_incurred = []

Total_claims_incurred_business_Fire = chk_blank(tables[0].df[1][15].replace(',',''))
Total_claims_incurred_business_Marine_cargo = chk_blank(tables[0].df[2][15].replace(',',''))
Total_claims_incurred_business_Marine_others = chk_blank(tables[0].df[3][15].replace(',',''))
Total_claims_incurred_business_Marine_total = chk_blank(tables[0].df[4][15].replace(',',''))
Total_claims_incurred_business_Motor_OD = chk_blank(tables[0].df[5][15].replace(',',''))
Total_claims_incurred_business_Motor_TP = chk_blank(tables[0].df[6][15].replace(',',''))
Total_claims_incurred_business_Motor_Total = chk_blank(tables[0].df[7][15].replace(',',''))
Total_claims_incurred_business_worksmens = chk_blank(tables[0].df[8][15].replace(',',''))
Total_claims_incurred_business_Liability = chk_blank(tables[0].df[9][15].replace(',',''))
Total_claims_incurred_business_Engineering = chk_blank(tables[0].df[10][15].replace(',',''))
Total_claims_incurred_business_aviation = chk_blank(tables[0].df[11][15].replace(',',''))
Total_claims_incurred_business_PA = chk_blank(tables[0].df[12][15].replace(',',''))
Total_claims_incurred_business_Health_Insurance = chk_blank(tables[0].df[13][15].replace(',',''))
Total_claims_incurred_business_Credit_Insurance = chk_blank(tables[0].df[14][15].replace(',',''))
Total_claims_incurred_business_Crop_Insurance = chk_blank(tables[0].df[15][15].replace(',',''))
Total_claims_incurred_business_Others = chk_blank(tables[0].df[16][15].replace(',',''))


### Add others all LoB
Total_claims_incurred_business_Others = ifnone(Total_claims_incurred_business_Others) + ifnone(Total_claims_incurred_business_worksmens) \
                               + ifnone(Total_claims_incurred_business_aviation) + ifnone(Total_claims_incurred_business_Credit_Insurance)

Total_claims_incurred.append(Total_claims_incurred_business_Fire)
Total_claims_incurred.append(Total_claims_incurred_business_Marine_cargo)
Total_claims_incurred.append(Total_claims_incurred_business_Marine_others)
Total_claims_incurred.append(Total_claims_incurred_business_Marine_total)
Total_claims_incurred.append(Total_claims_incurred_business_Motor_OD)
Total_claims_incurred.append(Total_claims_incurred_business_Motor_TP)
Total_claims_incurred.append(Total_claims_incurred_business_Motor_Total)
Total_claims_incurred.append(Total_claims_incurred_business_Liability)
Total_claims_incurred.append(Total_claims_incurred_business_Engineering)
Total_claims_incurred.append(Total_claims_incurred_business_PA)
Total_claims_incurred.append(Total_claims_incurred_business_Health_Insurance)
Total_claims_incurred.append(Total_claims_incurred_business_Crop_Insurance)
Total_claims_incurred.append(Total_claims_incurred_business_Others)

In [26]:
Total_claims_incurred

[110127,
 167670,
 -413,
 167257,
 3014764,
 4815546,
 7830310,
 -2956,
 369,
 194602,
 2982791,
 15803,
 236807]

In [27]:
data = {'Year': year,
         'Qtr': qtr,
         'Company':cmpny,
         'LOB':LOB,
         'Direct Claims':Direct_claims,
         'Add Claims Outstanding at the end of the year':Add_claims,
         'Less Claims Outstanding at the beginning of the year':Less_claims,
         'Gross Incurred Claims':Gross_incurred_claims,
         'Add :Re-insurance accepted to direct claims':Add_re_insurance_accepted_to_direct_claims,
         'Less :Re-insurance Ceded to claims paid':Less_re_insurance_ceded_to_claims_paid ,
         'Less :Re-insurance Ceded to Closing Claims Outstanding':Less_re_insurance_ceded_to_closing_claims_outstanding,
         'Add :Re-insurance Ceded to opening Claims Outstanding':Add_re_insurance_ceded_to_opening_claims_outstanding,
         'Total Claims Incurred':Total_claims_incurred}

In [28]:
df_data = pd.DataFrame(data)

In [29]:
df_data

,Year,Qtr,Company,LOB,Direct Claims,Add Claims Outstanding at the end of the year,Less Claims Outstanding at the beginning of the year,Gross Incurred Claims,Add :Re-insurance accepted to direct claims,Less :Re-insurance Ceded to claims paid,Less :Re-insurance Ceded to Closing Claims Outstanding,Add :Re-insurance Ceded to opening Claims Outstanding,Total Claims Incurred
0,2020_21,Q4,Bajaj Allianz,Fire,1023819,378729,1258513,1831914,19700.0,716759,595362,1258513,110127
1,2020_21,Q4,Bajaj Allianz,Marine Cargo,304007,-156328,-18431,-28873,NaN,104673,-124664,-18431,167670
2,2020_21,Q4,Bajaj Allianz,Marine Others,2500,-5926,-27094,87053,NaN,2487,-5500,-27094,-413
3,2020_21,Q4,Bajaj Allianz,Marine Total,306507,-162254,-45525,58180,NaN,107160,-130164,-45525,167257
4,2020_21,Q4,Bajaj Allianz,Motor OD,3741781,-569291,-5837,3192152,NaN,200165,-42439,-5837,3014764
5,2020_21,Q4,Bajaj Allianz,Motor TP,1564875,3458361,-120761,5806850,NaN,336266,-128576,-120761,4815546
6,2020_21,Q4,Bajaj Allianz,Motor Total,5306656,2889070,-126598,8999002,NaN,536431,-171015,-126598,7830310
7,2020_21,Q4,Bajaj Allianz,Liability,52231,-95156,-79757,-172993,NaN,51276,-91245,-79757,-2956
8,2020_21,Q4,Bajaj Allianz,Engineering,283534,-380988,-65060,103511,1194.0,121940,-218569,-65060,369
9,2020_21,Q4,Bajaj Allianz,PA,330250,52471,-119658,392183,NaN,22988,165131,-119658,194602
10,2020_21,Q4,Bajaj Allianz,Health Insurance,4820924,-997933,-716354,3998313,NaN,751774,88426,-716354,2982791
11,2020_21,Q4,Bajaj Allianz,Crop Insurance,2884557,-2989008,-4885981,882108,NaN,2271664,-2391918,-4885981,15803
12,2020_21,Q4,Bajaj Allianz,Others,873588,44246,424747,2557938,0.0,686717,-5690,424747,236807

In [30]:
df_data.to_csv(ofile,index=False)