In [1]:
# Import Libraries
import camelot
import os
import numpy as np
import pandas as pd

# Fill data as per requirement
company = 'Bajaj_Allianz'
financial_yr = '2020_21'
quarter = 'Q4'


LOB = ['Fire', 'Marine Cargo', 'Marine Others', 'Marine Total', 'Motor OD', 'Motor TP', 'Motor Total', 'Liability', 'Engineering', 'PA', 'Health Insurance', 'Crop Insurance', 'Others']
year = np.full(shape=len(LOB),fill_value=financial_yr)
qtr = np.full(shape=len(LOB),fill_value=quarter)
cmpny = np.full(shape=len(LOB),fill_value=company.replace('_',' '))

dir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF"
file = os.path.join(dir_path,company,financial_yr,quarter,'NL-21.pdf')
print(file)

odir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV"
ofile = os.path.join(odir_path,company,financial_yr,quarter,'NL-21.csv')
print(ofile)

C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF\Bajaj_Allianz\2020_21\Q4\NL-21.pdf
C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV\Bajaj_Allianz\2020_21\Q4\NL-21.csv

In [2]:
def chk_blank(value):
    if value =='-' and len(value)==1:
        return None
    elif len(value)==0:
        return None
    elif '(' in value:
        return int(value.replace('-','').replace('(','').replace(')','').replace(' ','')) *-1
    else:
        return int(value.replace('-','').replace(' ',''))
    
def ifnone(value):
    if value == None:
        return 0
    else:
        return value

In [3]:
tables = camelot.read_pdf(file)#,pages="all")
print("Total tables extracted:", tables.n)

Total tables extracted: 1

In [4]:
tables[0].df.head(50)

,0,1,2,3,4,5,6,7,8,9
0,Statement of Liabilities,,,,,,,,,
1,,,As at 31 Mar 2021,,,,As at 31 Mar 2020,,,
2,Sl.No.,Particular,Reserves for \nunexpired risks,Reserve for \nOutstanding \nClaims,IBNR Reserves,Total Reserves,Reserves for \nunexpired risks,Reserve for \nOutstanding \nClaims,IBNR Reserves,Total Reserves
3,1,Fire,"28,963","19,429",693,"49,084","27,980","17,133",643,"45,755"
4,2,Marine,,,,,,,,
5,a,Marine Cargo,"3,009","5,743","1,695","10,447","2,892","5,426","1,567","9,884"
6,b,Marine Hull,20,109,49,178,26,103,49,178
7,3,Miscellaneous,,,,,,,,
8,a,Motor,"2,53,263","3,39,437","5,32,589","11,25,289","2,56,068","2,68,029","4,41,578","9,65,675"
9,b,Engineering,"1,547",692,404,"2,643","1,456","2,133",396,"3,985"
10,c,Aviation,3,353,"1,540","1,896",791,546,659,"1,996"
11,d,Liabilities,810,541,660,"2,011",671,273,609,"1,553"
12,e,Workmen Compensation,"1,837","1,477","1,371","4,685","1,859","1,409","1,039","4,307"
13,f,Others,"43,466","19,354","41,366","1,04,186","46,424","18,719","49,817","1,14,961"
14,4,Health Insurance,"83,680","10,426","26,101","1,20,207","80,319","7,999","17,686","1,06,003"
15,,Total Liabilities,"4,16,598","3,97,559","6,06,468","14,20,626","4,18,486","3,21,768","5,14,042","12,54,296"

In [5]:
##### Read Data from NL21 form

# Reserve for Unexpired Risk
Reserve_for_unexpired_risks = []

Reserve_for_unexpired_risks_business_Fire = chk_blank(tables[0].df[2][3].replace(',',''))
Reserve_for_unexpired_risks_business_Marine_cargo = chk_blank(tables[0].df[2][5].replace(',',''))
Reserve_for_unexpired_risks_business_Marine_others = chk_blank(tables[0].df[2][6].replace(',',''))
Reserve_for_unexpired_risks_business_Marine_total = Reserve_for_unexpired_risks_business_Marine_cargo + Reserve_for_unexpired_risks_business_Marine_others
Reserve_for_unexpired_risks_business_Motor_OD = None
Reserve_for_unexpired_risks_business_Motor_TP = None
Reserve_for_unexpired_risks_business_Motor_Total = chk_blank(tables[0].df[2][8].replace(',',''))
Reserve_for_unexpired_risks_business_worksmens = chk_blank(tables[0].df[2][12].replace(',',''))
Reserve_for_unexpired_risks_business_Liability = chk_blank(tables[0].df[2][11].replace(',',''))
Reserve_for_unexpired_risks_business_Engineering = chk_blank(tables[0].df[2][9].replace(',',''))
Reserve_for_unexpired_risks_business_aviation = chk_blank(tables[0].df[2][10].replace(',',''))
Reserve_for_unexpired_risks_business_PA = None
Reserve_for_unexpired_risks_business_Health_Insurance = chk_blank(tables[0].df[2][14].replace(',',''))
Reserve_for_unexpired_risks_business_Credit_Insurance = None
Reserve_for_unexpired_risks_business_Crop_Insurance = None
Reserve_for_unexpired_risks_business_Others = chk_blank(tables[0].df[2][13].replace(',',''))


### Add others all LoB
Reserve_for_unexpired_risks_business_Others = ifnone(Reserve_for_unexpired_risks_business_Others) + ifnone(Reserve_for_unexpired_risks_business_worksmens) \
                               + ifnone(Reserve_for_unexpired_risks_business_aviation) + ifnone(Reserve_for_unexpired_risks_business_Credit_Insurance)

Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Fire)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Marine_cargo)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Marine_others)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Marine_total)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Motor_OD)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Motor_TP)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Motor_Total)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Liability)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Engineering)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_PA)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Health_Insurance)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Crop_Insurance)
Reserve_for_unexpired_risks.append(Reserve_for_unexpired_risks_business_Others)

In [6]:
Reserve_for_unexpired_risks

[28963,
 3009,
 20,
 3029,
 None,
 None,
 253263,
 810,
 1547,
 None,
 83680,
 None,
 45306]

In [7]:
##### Read Data from NL21 form

# Reserve for Outstanding claims
Reserve_for_outstanding_claims = []

Reserve_for_outstanding_claims_business_Fire = chk_blank(tables[0].df[3][3].replace(',',''))
Reserve_for_outstanding_claims_business_Marine_cargo = chk_blank(tables[0].df[3][5].replace(',',''))
Reserve_for_outstanding_claims_business_Marine_others = chk_blank(tables[0].df[3][6].replace(',',''))
Reserve_for_outstanding_claims_business_Marine_total = Reserve_for_outstanding_claims_business_Marine_cargo + Reserve_for_outstanding_claims_business_Marine_others
Reserve_for_outstanding_claims_business_Motor_OD = None
Reserve_for_outstanding_claims_business_Motor_TP = None
Reserve_for_outstanding_claims_business_Motor_Total = chk_blank(tables[0].df[3][8].replace(',',''))
Reserve_for_outstanding_claims_business_worksmens = chk_blank(tables[0].df[3][12].replace(',',''))
Reserve_for_outstanding_claims_business_Liability = chk_blank(tables[0].df[3][11].replace(',',''))
Reserve_for_outstanding_claims_business_Engineering = chk_blank(tables[0].df[3][9].replace(',',''))
Reserve_for_outstanding_claims_business_aviation = chk_blank(tables[0].df[3][10].replace(',',''))
Reserve_for_outstanding_claims_business_PA = None
Reserve_for_outstanding_claims_business_Health_Insurance = chk_blank(tables[0].df[3][14].replace(',',''))
Reserve_for_outstanding_claims_business_Credit_Insurance = None
Reserve_for_outstanding_claims_business_Crop_Insurance = None
Reserve_for_outstanding_claims_business_Others = chk_blank(tables[0].df[3][13].replace(',',''))


### Add others all LoB
Reserve_for_outstanding_claims_business_Others = ifnone(Reserve_for_outstanding_claims_business_Others) + ifnone(Reserve_for_outstanding_claims_business_worksmens) \
                               + ifnone(Reserve_for_outstanding_claims_business_aviation) + ifnone(Reserve_for_outstanding_claims_business_Credit_Insurance)

Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Fire)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Marine_cargo)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Marine_others)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Marine_total)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Motor_OD)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Motor_TP)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Motor_Total)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Liability)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Engineering)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_PA)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Health_Insurance)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Crop_Insurance)
Reserve_for_outstanding_claims.append(Reserve_for_outstanding_claims_business_Others)

In [8]:
Reserve_for_outstanding_claims

[19429,
 5743,
 109,
 5852,
 None,
 None,
 339437,
 541,
 692,
 None,
 10426,
 None,
 21184]

In [9]:
##### Read Data from NL21 form

# IBNR Reserves
IBNR = []

IBNR_business_Fire = chk_blank(tables[0].df[4][3].replace(',',''))
IBNR_business_Marine_cargo = chk_blank(tables[0].df[4][5].replace(',',''))
IBNR_business_Marine_others = chk_blank(tables[0].df[4][6].replace(',',''))
IBNR_business_Marine_total = IBNR_business_Marine_cargo + IBNR_business_Marine_others
IBNR_business_Motor_OD = None
IBNR_business_Motor_TP = None
IBNR_business_Motor_Total = chk_blank(tables[0].df[4][8].replace(',',''))
IBNR_business_worksmens = chk_blank(tables[0].df[4][12].replace(',',''))
IBNR_business_Liability = chk_blank(tables[0].df[4][11].replace(',',''))
IBNR_business_Engineering = chk_blank(tables[0].df[4][9].replace(',',''))
IBNR_business_aviation = chk_blank(tables[0].df[4][10].replace(',',''))
IBNR_business_PA = None
IBNR_business_Health_Insurance = chk_blank(tables[0].df[4][14].replace(',',''))
IBNR_business_Credit_Insurance = None
IBNR_business_Crop_Insurance = None
IBNR_business_Others = chk_blank(tables[0].df[4][13].replace(',',''))


### Add others all LoB
IBNR_business_Others = ifnone(IBNR_business_Others) + ifnone(IBNR_business_worksmens) \
                               + ifnone(IBNR_business_aviation) + ifnone(IBNR_business_Credit_Insurance)

IBNR.append(IBNR_business_Fire)
IBNR.append(IBNR_business_Marine_cargo)
IBNR.append(IBNR_business_Marine_others)
IBNR.append(IBNR_business_Marine_total)
IBNR.append(IBNR_business_Motor_OD)
IBNR.append(IBNR_business_Motor_TP)
IBNR.append(IBNR_business_Motor_Total)
IBNR.append(IBNR_business_Liability)
IBNR.append(IBNR_business_Engineering)
IBNR.append(IBNR_business_PA)
IBNR.append(IBNR_business_Health_Insurance)
IBNR.append(IBNR_business_Crop_Insurance)
IBNR.append(IBNR_business_Others)

In [10]:
IBNR

[693, 1695, 49, 1744, None, None, 532589, 660, 404, None, 26101, None, 44277]

In [11]:
data = {'Year': year,
         'Qtr': qtr,
         'Company':cmpny,
         'LOB':LOB,
         'Reserves for unexpired risks': Reserve_for_unexpired_risks,
         'Reserve for Outstanding Claims':Reserve_for_outstanding_claims,
         'IBNR':IBNR}

In [12]:
df_data = pd.DataFrame(data)
df_data.to_csv(ofile,index=False)

In [13]:
df_data

,Year,Qtr,Company,LOB,Reserves for unexpired risks,Reserve for Outstanding Claims,IBNR
0,2020_21,Q4,Bajaj Allianz,Fire,28963.0,19429.0,693.0
1,2020_21,Q4,Bajaj Allianz,Marine Cargo,3009.0,5743.0,1695.0
2,2020_21,Q4,Bajaj Allianz,Marine Others,20.0,109.0,49.0
3,2020_21,Q4,Bajaj Allianz,Marine Total,3029.0,5852.0,1744.0
4,2020_21,Q4,Bajaj Allianz,Motor OD,NaN,NaN,NaN
5,2020_21,Q4,Bajaj Allianz,Motor TP,NaN,NaN,NaN
6,2020_21,Q4,Bajaj Allianz,Motor Total,253263.0,339437.0,532589.0
7,2020_21,Q4,Bajaj Allianz,Liability,810.0,541.0,660.0
8,2020_21,Q4,Bajaj Allianz,Engineering,1547.0,692.0,404.0
9,2020_21,Q4,Bajaj Allianz,PA,NaN,NaN,NaN
10,2020_21,Q4,Bajaj Allianz,Health Insurance,83680.0,10426.0,26101.0
11,2020_21,Q4,Bajaj Allianz,Crop Insurance,NaN,NaN,NaN
12,2020_21,Q4,Bajaj Allianz,Others,45306.0,21184.0,44277.0